<!-- heredamos la plantilla base -->
{% extends "ProyectecommerceApp/basis_template.html" %} 

{%load static %}

{% block content %}
    
    <section class="ban_empresa"></section>

    <section class="secundaria">

        <div class="secu_content">

                <article class="banerlat_iz"></article>

                <article class="novedades">

                    <h4 class="nov_titulo">Novedades Populares</h4>

                    <div class="nov_sup">

                        <div class="novedad_1">

                            <div class="nov_prote"></div>

                            <h4 class="tipo_product">Proteina</h4>

                            <h4 class="nom_product">Platinum Nitro Whey Protein</h4>

                        </div>

                        <div class="novedad_2">

                            <div class="nov_amino"></div>

                            <h4 class="tipo_product">Aminoacido</h4>

                            <h4 class="nom_product">Amino Performance Booster</h4>

                        </div>

                    </div>


                    <div class="nov_inf">
                        
                        <div class="novedad_3">

                            <div class="nov_gainer"></div>

                            <h4 class="tipo_product">Ganador de Peso</h4>

                            <h4 class="nom_product">Mutant Mass</h4>

                        </div>

                        <div class="novedad_4">
                            
                            <div class="nov_creatina"></div>

                            <h4 class="tipo_product">Creatina</h4>

                            <h4 class="nom_product">Creatina Monohidratada</h4>

                        </div>

                    </div>


                </article>
                <article class="banerlat_der"></article>

            </div>

    </section> 

{% endblock %}  




