<!-- heredamos la plantilla base -->
{% extends "ProyectecommerceApp/basis_template.html" %} 

{%load static %}

{% block content %}



<section class = "nosotros">
            
    <article class="infoempresa"> 
        
        <p>Somos una empresa dedicada a suministrar información a los deportitas sobre los productos indicados para utilizar a la hora de su entrenamiento. </p>  

        <p>Nuestra amplia gama de productos incluye proteínas en polvo, aminoácidos, pre-entrenamientos, quemadores de grasa y más.</p> 
        
        <p>Todos nuestros productos están diseñados con ingredientes de primera calidad, para asegurar que nuestros clientes obtengan los mejores resultados posibles.</p> 
        
        <p>En Nutrisport, estamos comprometidos con la investigación y el desarrollo constante de nuevos productos y fórmulas para satisfacer las necesidades de nuestros clientes. </p> 
        
        <p>También nos enorgullece ofrecer un excelente servicio al cliente, para asegurarnos de que cada uno de nuestros clientes tenga una experiencia satisfactoria y personalizada.</p> 
        
        <p >¡Gracias por elegir Nutrisport! Estamos aquí para ayudarte a alcanzar tus objetivos deportivos y de fitness.</p> 

    </article>


</section>

{% endblock %}  




