{% extends "ProyectecommerceApp/basis_template.html" %} 

{%load static %}

{% block content %}

        <section class = "secundaria_app_contacto ">

            <div class="informacion_contacto">

                <form class="formulario" action="" method="POST" >

                    {% csrf_token %}
                    
                    <h1 class="titulo">Formulario de Contacto</h1>

                    <div class="cont_formulario">{{miForm.as_ul}}</div>

                    <button class="submit" type="submit"><h4>Enviar</h4><span class="material-symbols-outlined">send</span></button>
                </form>
                
                {% if 'valido' in request.GET %}

                    <p style="color: rgb(253, 252, 255); order: 2; padding-bottom: 10px;">Formulario enviado correctamente</p>

                {% endif %}  

                <ul class="localizacion">

                    <li><a class="contacto" href="https://goo.gl/maps/9hFfLg4NC3Fpv6u78"target="_blank"><span id="contacto_simbolo" class="material-symbols-outlined" id="log_productos" style="font-size:24px;">location_on</span ><h3>Dirección</h3></a></li>
                    <li><a class="contacto" href="https://wa.me/5491157414459"target="_blank"><span id="contacto_simbolo" class="material-symbols-outlined" id="log_productos" style="font-size:24px;">call</span > <h3>Telefóno</h3></a></li>
                    <li><a class="contacto" href="mailto:snutristar@gmail.com"target="_blank"><span id="contacto_simbolo" class="material-symbols-outlined" id="log_productos" style="font-size:24px;">mail</span > <h3>Email</h3></a></li>

                </ul>

            </div>

            <div class="mapa">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.5795628933324!2d-58.41167448423718!3d-34.58950346425413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca9d49ea93ed%3A0x67ccd474aea91eeb!2sAv.%20Sta.%20Fe%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1680905065797!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

           

        </section>

        <p>{{request.POST}}</p>

{% endblock %}  